<?xml version="1.0"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <IfcConvertPath>C:\Users\tgl\Music\SaveData\SaveDataUnity\Assets\Editor\IfcConvert\IfcConvert-x64.exe</IfcConvertPath>
  <OutputPath>C:\Users\tgl\Music\SaveData\SaveDataUnity\Assets\Meshes</OutputPath>
  <AutomaticTextureMapGeneration>true</AutomaticTextureMapGeneration>
</Config>